@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "digital-7";
    src: url("./assets/fonts/digital-7/digital-7.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "typo-digit";
    src: url("./assets/fonts/typo-digit-font/TypoDigitDemo-VG9lV.ttf");
    font-weight: normal;
    font-style: normal;
}

.overflow-x-clip {
    overflow-x: clip;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}