@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "digital-7";
    src: url("./assets/fonts/digital-7/digital-7.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "typo-digit";
    src: url("./assets/fonts/typo-digit-font/TypoDigitDemo-VG9lV.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "calculator";
    src: url("./assets/fonts/calculator/Calculator.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "amiri-quran";
    src: url("./assets//fonts//Amiri_Quran/AmiriQuran-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "alquran-ali";
    src: url("./assets//fonts/al-quran-ali-font/AlQuranAli-L3A83.ttf");
    font-weight: normal;
    font-style: normal;
}

.overflow-x-clip {
    overflow-x: clip;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@-webkit-keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

@keyframes bounce {
    0% { transform: translateY(-5px)  }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

.bounce {
    -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out; 
    -moz-animation: bounce 3s infinite ease-in-out; 
    animation: bounce 3s infinite ease-in-out;
}

.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}